# ignore old versions, sprite templates, etc.
dist
datatmp
dlltemp
__pycache__
darkvoid_highscores.backup
darkvoid_04.py
darkvoid_05.py
darkvoid_06.py
darkvoid_06.spec
darkvoid_07.spec
laser_2.xcf
sprite_0.xcf
releases
